@model RecoverPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}
<h1>Reset your password</h1>
<div class="card">
    <div class=" card-body">
        <form asp-action="RecoverPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResetCode" />
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button class="btn btn-primary">
                Reset
            </button>
        </form>
    </div>
</div>